#Remove OS generated garbage
*/.DS_Store
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

#gradle stuff
/.gradle
/build/
/run*/
/ui/
gradle-app.setting

#IDEA files from Gradle
.idea/
/*.iml
/*.ipr
/*.iws

#Vim backups
*~

#eclipse stuffs
/.classpath
/.project
/.settings/
/eclipse/
/debug/
*.lock
/.metadata/
/config/
/logs/
options.txt
/saves/
/out

#others
/bin/
/*.launch
/.classpath
/run/
/LittleMaidReengaged.1.9_Client.launch
/LittleMaidReengaged.1.9_Server.launch
/LittleMaidReengaged.1.9.4_Client.launch
/LittleMaidReengaged.1.9.4_Server.launch
